/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.cell-grid {
    display: grid;
    grid-template-columns: [full-width-start] auto [margin-left-start] var(--cell-margin-left) [margin-left-end content-start] minmax(auto, calc(min(980px, 100% - var(--cell-margin-left) - var(--cell-margin-right)))) [content-end margin-right-start] var(--cell-margin-right) [margin-right-end] auto [full-width-end];
    grid-template-rows:  26px auto auto;
    grid-template-areas: 
    "gutter-left-above margin-left-above above margin-right-above gutter-right-above"
    "gutter-left-top margin-left-top top margin-right-top gutter-right-top"
    "gutter-left-bottom margin-left-bottom bottom margin-right-bottom gutter-right-bottom";
}

.line-grid {
    display: grid;
    grid-template-columns: [full-width-start margin-left-start] var(--cell-margin-left) [margin-left-end content-start] minmax(auto, calc(min(980px, 100% - var(--cell-margin-left) - var(--cell-margin-right)))) [content-end margin-right-start] var(--cell-margin-right) [margin-right-end full-width-end];
    grid-template-rows: 0px;
}

starboard-cell {
    animation: starboard-fade-in ease-in 0.15s;
}

starboard-cell:focus {
    outline: none;
}

.display-when-collapsed {
    display: none !important;
}

starboard-cell:not(:focus):not(:focus-within).collapsed {
    .cell-top,
    .cell-bottom,
    .cell-controls-left-top,
    .cell-controls-left-bottom,
    .cell-gutter-top,
    .cell-gutter-bottom {
        display: none;
    }

    * {
        .collapsed-cell-line,
        .display-when-collapsed {
            display: flex !important;
        }
    }
}

.cell-top {
    grid-area: top;
    min-height: 40px;
}

.cell-bottom {
    grid-area: bottom;
    max-height: 100vh;
    overflow-y: auto;
}

.cell-output-html {
    overflow-x: auto;
    padding: 0.4em;
}