/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.cell-container {
    display: grid;
    grid-template-columns: auto 26px minmax(auto, calc(min(980px, 100% - 36px))) 6px auto;
    grid-template-rows: 26px auto auto;
    grid-template-areas: 
    "gutter-left-above margin-left-above above margin-right-above gutter-right-above"
    "gutter-left-top margin-left-top top margin-right-top gutter-right-top"
    "gutter-left-bottom margin-left-bottom bottom margin-right-bottom gutter-right-bottom";
    &:not(:last-child) {
        margin-top: 10px;
    }
}

starboard-cell:focus {
    outline: none;
}

// Outline when selected
// starboard-cell:focus-within .cell-container::after{
//     content: "";
//     grid-row-start: margin-left-above;
//     grid-column-start: margin-left-above;
//     grid-row-end: margin-right-bottom;
//     grid-column-end: margin-right-bottom;

//     width: 100%;
//     height: 100%;
//     border: 1px solid var(--border-color-secondary);
// }

.display-when-collapsed {
    display: none !important;
}

starboard-cell:not(:focus):not(:focus-within) {
    .cell-container.collapsed {
        .cell-top,
        .cell-bottom,
        .cell-controls-left-top,
        .cell-controls-left-bottom,
        .cell-gutter-top,
        .cell-gutter-bottom {
            display: none;
        }

        * {
            .collapsed-cell-line,
            .display-when-collapsed {
                display: flex !important;
            }
        }
    } 
}

.cell-top {
    grid-area: top;
    min-height: 40px;
}

.cell-bottom {
    grid-area: bottom;
    max-height: 80vh;
    overflow-y: auto;
}

.cell-output-html {
    overflow-x: auto;
    padding: 0.4em;
}