/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.cell-container {
    display: grid;
    grid-template-columns: 6px 34px calc(100% - 40px);
    grid-template-rows: 26px auto auto;
    grid-template-areas: 
    "gutter-corner controls-corner controls-above"
    "gutter-top controls-left-top top"
    "gutter-bottom controls-left-bottom bottom";
    padding: 0px 6px 6px 0px;
    background-color: #fdfdfd;
    border: 1px solid transparent;
}

@media screen and (max-width: 640px) {
    .cell-container {
        grid-template-columns: 28px calc(100% - 28px);
        padding: 0px 1px 6px 0px;
    }
}

starboard-cell:focus {
    outline: none;
}

starboard-cell:focus-within .cell-container{
    border: 1px solid #f1f1f1;
}

.cell-controls-left {
    text-align: center;
    height: 100%;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

starboard-cell:not(:focus):not(:focus-within) .cell-container.collapsed .cell-top,
starboard-cell:not(:focus):not(:focus-within) .cell-container.collapsed .cell-bottom,
starboard-cell:not(:focus):not(:focus-within) .cell-container.collapsed .cell-controls-left-top,
starboard-cell:not(:focus):not(:focus-within) .cell-container.collapsed .cell-controls-left-bottom,
starboard-cell:not(:focus):not(:focus-within) .cell-container.collapsed .cell-gutter-top,
starboard-cell:not(:focus):not(:focus-within) .cell-container.collapsed .cell-gutter-bottom
{
    display: none;
}

starboard-cell:not(:focus):not(:focus-within) .cell-container.collapsed * .collapsed-cell-line
{
    display: flex;
}

.cell-top {
    grid-area: top;
    min-height: 40px;
}

.cell-bottom {
    grid-area: bottom;
    max-height: 80vh;
    overflow-y: auto;
}

