starboard-console-output .starboard-console-output-inner {
    line-height: 1.2;
    border: 1px solid var(--background-color);
    border-radius: var(--border-radius);
    background-color: #242424;
    overflow-x: hidden;
}