/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

 /* Controls are all the small buttons to the side or the top of a cell */

.cell-controls {
    text-align: center;
    height: 100%;
    position: relative;
}

.cell-controls-corner {
    grid-area: controls-left-above;
}

.cell-controls-above {
    grid-area: above;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.cell-controls-left {
    text-align: center;
    height: 100%;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell-controls-left-above {
    grid-area: margin-left-above;
}

.cell-controls-left-top {
    grid-area: margin-left-top;
}
.cell-controls-left-bottom {
    grid-area: margin-left-bottom;
}


.cell-controls .cell-controls-button.auto-hide {
    opacity: 0;
}

.cell-container:hover .cell-controls-button.auto-hide,
starboard-cell:focus-within .cell-controls-button,
starboard-cell:focus .cell-controls-button
{
    opacity: 1;
}

.cell-controls-button {
    background: transparent;
    color: var(--controls-color);
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    padding: 2px 4px;

    border-radius: 4px;
    border: 1px solid #ffffff00;
    z-index: 1;

    transition: opacity 120ms ease-in-out;
    opacity: 1;
    display: flex;
}

.cell-controls-button-language {
    padding: 2px 6px;
    text-transform: uppercase;
}

.with-hover-border:hover {
    border: 1px solid #f3f3f3;
}

.cell-controls-button:hover {
    color: #7e7e7e;
}
.cell-controls-button:focus {
    outline: none;
    border: 1px solid #eee;
}

.collapsed-cell-line {
    display: none;
    background-color: var(--cell-collapsed-line-color);
    height: 2px;
    flex-grow: 1;
    cursor: pointer;
    transform: translateY(-10px);
}

.collapsed-cell-line:hover {
    background-color: #eaeaea;
    height: 4px;
}