/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

 /* Controls are all the small buttons to the side or the top of a cell */

 
.cell-controls {
    text-align: center;
    height: 100%;
    position: relative;
}

.cell-controls-corner {
    grid-area: controls-corner;
}

.cell-controls-above {
    grid-area: controls-above;
    display: flex;
    justify-content: flex-end;
}

.cell-controls-left-top {
    grid-area: controls-left-top;
}
.cell-controls-left-bottom {
    grid-area: controls-left-bottom;
}


.cell-controls .cell-controls-button.auto-hide {
    opacity: 0;
}

.cell-container:hover .cell-controls-button.auto-hide,
starboard-cell:focus-within .cell-controls-button,
starboard-cell:focus .cell-controls-button
{
    opacity: 1;
}

.cell-controls-button {
    background: transparent;
    color: #c3c3c3;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
    padding: 2px 4px;
    margin-bottom: 2px;

    border-radius: 4px;
    border: 1px solid #ffffff00;
    z-index: 1;

    transition: opacity 120ms ease-in-out;
    opacity: 1;
}

.cell-controls-button-language {
    padding: 2px 6px;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 1px;
}

.with-hover-border:hover {
    border: 1px solid #f3f3f3;
}

.cell-controls-button:hover {
    color: #7e7e7e;
}
.cell-controls-button:focus {
    outline: none;
    border: 1px solid #eee;
}