/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
 
@import "./cell.css";
@import "./controls.css";
@import "./popover.css";
@import "./gutter.css";
@import "./text-editor.css";

@import "./github-markdown.css";

html, body {
    min-height: auto;
    height: auto;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    margin: 6px;
}

.cells-container {
    background-color: #fdfdfd;
}

.starboard-notebook-footer * {
    color: #cecece;
    font-size: 11px;
    margin-left: 2px;
    margin-top: 8px;
    text-decoration: none;
}

.starboard-notebook-footer a:hover {
    text-decoration: underline;
}


.starboard-editor-picker-overlay {
    position: absolute;
    width: 80%;
    padding: 1rem;
    color: #222;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    display: none;
}

.starboard-editor-picker-overlay * {
    margin: 0;
}

.force-display {
    display: initial !important;
}