/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

@import "./cell.css";
@import "./github-markdown.css";

html, body {
    min-height: auto;
    height: auto;
    background-color: #fdfdfd;
}

body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

starboard-notebook {
    height: 100%;
    min-height: 100%;
}

.cells-container {
    background-color: #fdfdfd;
}
