/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

@font-face {
    font-family: "Inter var";
    font-weight: 200 900;
    font-display: swap;
    src: local("Inter var"), url(../../static/fonts/inter.var.woff2?v=3.15) format("woff2")
}

$brand-color: #5e5ef8;
$primary: $brand-color;
$border-radius: var(--border-radius);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./animations.scss";
@import "./cell.scss";
@import "./insertion-line.scss";
@import "./cell-type-picker.scss";
@import "./controls.css";
@import "./gutter.css";
@import "./text-editor.css";
@import "./prosemirror.scss";
@import "./math.scss";

@import "./reset-markdown.scss";
@import "./starboard-markdown.scss";

:root {
    --font-sans: "Inter var", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    --font-mono: "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
    --font-size: 14px;
    

    --h1-size: 2.3rem;
    --h2-size: 2.0rem;
    --h3-size: 1.4rem;
    --h4-size: 1.1rem;
    --line-height: calc(var(--font-size) * 1.5);
    
    --content-font-size: 16px;
    --content-line-height: calc(var(--content-font-size) * 1.5);
    --content-baseline: calc(var(--content-line-height) / 2);

    --cell-margin-left: 34px;
    --cell-margin-right: 6px;

    --brand-color: #5e5ef8;

    --background-color: #fff;    
    --background-color-secondary: #fdfdfd;  
    --background-color-tertiary: #f7f7f7;
    --foreground-color: #3d3d3d;
    --foreground-color-secondary: #4c4c4c;
    --foreground-color-tertiary: #777;

    --code-background-color: #f5f7f8;

    --editor-line-number-color: #ccc;

    --block-spacing-top: 0;
    --block-spacing-bottom: var(--font-size);

    --text-color: var(--forceground-color);
    --text-color-secondary: var(--foreground-color-secondary);
    --text-color-tertiary: var(--foreground-color-tertiary);
    --link-color: var(--brand-color);

    --border-color: #e2e2e2;
    --border-color-secondary: #ececec;
    --border-radius: 6px;

    --hr-thickness: 2px;
    --hr-color: var(--border-color);

    --blockquote-background-color: #f8f8f8;
    --blockquote-text-color: var(--foreground-color-secondary);
    --blockquote-border-left-color: #ececec; 

    --insertion-line-color: #dfdfdf;

    // Cell styling
    --controls-color: var(--foreground-color-tertiary);
    --cell-collapsed-line-color: var(--border-color);

    --gutter-background-color: var(--background-color);
    --gutter-selected-background-color: var(--background-color-tertiary);
}

html {
    font-family: var(--font-sans), -system-ui, system-ui, sans-serif;
    font-size: var(--font-size);
    line-height: var(--line-height);
    background: var(--background-color);
    color: var(--foreground-color);
    text-size-adjust: 100%;
    font-variant-ligatures: contextual common-ligatures;
    font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'cv10' 1;
}

html,
body {
    min-height: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-sans);
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

.cells-container {
    background-color: var(--background-color);
}

.starboard-notebook-footer {
    display: grid;
    grid-template-columns: auto 26px minmax(auto, calc(min(980px, 100% - 36px))) 6px auto;
    margin-top: 8px;
}

.starboard-notebook-footer span, .starboard-notebook-footer a {
    color: #bbb;
    font-size: 11px;
    text-decoration: none;
}

.starboard-notebook-footer button {
    color: var(--text-color-secondary);
}

.starboard-notebook-footer a:hover {
    text-decoration: underline;
}

.starboard-editor-picker-overlay {
    position: absolute;
    width: 80%;
    padding: 1rem;
    color: var(--foreground-color);
    background-color: var(--background-color);
    border: 1px solid var(--border-color-secondary);
    border-radius: 4px;
    display: none;
}

.starboard-editor-picker-overlay * {
    margin: 0;
}

.force-display {
    display: initial !important;
}

.hidden {
    display: hidden;
}

starboard-console-output {
    line-height: 1.2;
}

/*
Custom Bootstrap styles
*/
