/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

 /* Popovers are the small menus that appear when you press some control buttons */

.cell-popover-root {
    position: relative;
    display: flex;
}

.cell-popover {
    /* position: absolute; */
    /* top: 2px; */
    /* right: calc(100% + 4px); */
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 0 2px 1px #0000001a;
    padding: 6px;
    font-size: 0.75rem;
    text-align: initial;
    min-width: 180px;
    flex-direction: column;
    color: #555;
    display: none;
}

.cell-popover.popover-active {
    display: flex;
}

.cell-popover-close-button {
    position: absolute;
    top: 6px;
    right: 6px;
}

.cell-popover-selection-button {
    background-color: var(--background-color);
    border: 0;
    text-align: initial;
    padding: 4px 0;
    cursor: pointer;
}
.cell-popover-selection-button:hover {
    background-color: var(--background-color-tertiary);
}

.cell-popover-icon-button {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 2px;
    font-size: 12px;
    padding: 2px 6px;
}

.cell-popover-icon-button:hover {
    background-color: #ededed;
}

.cell-select-editor-popover {
    position: absolute;
    right: initial;
    top: 100%;
    display: none;
    box-shadow: none;
    background-color: #bbffb5;
}

.starboard-text-editor:hover .cell-select-editor-popover {
    display: flex;
}