/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */


.cm-gutters {
    background-color: #fbfbfb !important;
    border-right: 1px solid transparent !important;
    color: var(--editor-line-number-color) !important;
}

.cm-gutter-lineNumber {
    min-width: 24px;
}

.cm-wrap * {
    font-family: "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace !important;
}

.cm-wrap.cm-focused {
    outline: 1px solid transparent !important;
}

.cm-activeLine {
    background-color: transparent !important;
}

.cm-focused .cm-activeLine {
    background-color:  #33333308 !important;
}

.cm-selectionMatch {
    background-color: #e1ebf5 !important;
}

.starboard-text-editor {
    position: relative;
    border: 1px solid #ddd;
    background-color: #fbfbfb;
    width: 100%;
    height: 100%;
    font-size: 14px;
    box-sizing: border-box;
    color: #000;
}

.starboard-text-editor:focus-within {
    border: 1px solid #ccc;
}

.cm-content *::selection {
    background-color: #00000042
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: var(--code-background-color) !important;
}

.starboard-text-editor pre[class*="language-"] {
    margin: 0 !important;
    min-height: 40px;
}

.monaco-editor {
    outline: 1px solid #eee;
    outline-offset: -1px;
    min-height: 40px;
}

.starboard-text-editor pre[class*="language-"] {
    padding: 0 1em;
}

.starboard-text-editor-controls {
    position: absolute;
    right: 0;
    top: 1px;
    display: none;
    z-index: 10;
}

.starboard-text-editor-controls button {
    background: #fdfdfd;
    color: #999;
    opacity: 0.6;

    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0px 1px;
    font-size: 0.8em;
    font-family: "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
    margin: 0 2px;
}

.starboard-text-editor-controls button:hover {
    background: #fefefe;
    opacity: 1.0;
    color: #555;
    border: 1px solid #00000062;
}

.cell-top:hover .starboard-text-editor-controls, .cell-bottom:hover .starboard-text-editor-controls {
    display: flex
}

.celltype-javascript .starboard-text-editor:focus-within {
    border-left-color: #F0DB4F;
}

.celltype-html .starboard-text-editor:focus-within {
    border-left-color: #fb8568;
}

.celltype-python .starboard-text-editor:focus-within {
    border-left-color: #77b8ed;
}

.celltype-css .starboard-text-editor:focus-within {
    border-left-color: #5e7cf8;
}

.celltype-markdown .starboard-text-editor:focus-within {
    border-left-color: #bbb;
}

.celltype-esm .starboard-text-editor:focus-within {
    border-left-color: #ec9afa;
}

.celltype-latex .starboard-text-editor:focus-within {
    border-left-color: #329894;
}

